node_modules
dist
build
npm-debug.log
.env
Dockerfile
Dockerfile.frontend
*.pem
.DS_Store
node_modules
**/node_modules
dist
build
coverage
.git
.gitignore
*.log
lexy.log
server/out.log
migrations/backups
**/.env
**/.env.*