# Этот файл нужно скопировать в .env для локального запуска Docker

MAIN_PORT=3000
MAIN_DB_NAME=lexy
MAIN_CHAT_API_URL=http://chat-server:3001

CHAT_PORT=3001
CHAT_DB_NAME=chat

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin

JWT_SECRET=2026
YANDEX_DICT_API_KEY=dict.1.1.20260611T080404Z.9b189348bf81891b.0c9b6b9e223d01a1f3d475b03f86e06bf38d70c9
VAPID_PUBLIC_KEY=BCGYOSd3_aY2jVM4OVhEYz6iPHYqsMuBwtUw29Zc-aXF4bT2Qii6PZy8T8gkPmFlKYVxwvSGicRJ0d3vEnmJNuc
VAPID_PRIVATE_KEY=C0-VtuiKEba2LHtMJ1Qi26EFvmY9gp4bh0SD8FhcuSM
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef
